*{
   
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}
.Header {
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }


.logo{
    width: 102px;
    height: auto;
    padding-left: 50px;
    margin-right: 10px;
}
  nav {
    width: 85%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    bottom: 100px;
    
  }
  nav ul{
    padding-right: 90px;
  }
  
nav ul li  {
    display: inline-block;
    list-style: none;
    padding: 30px;
    margin-bottom: 20px;
    padding-left: 50px;    
}

nav ul li a:hover {
    
    color: #D1884F;
}


#home-button{
    color:#D1884F; 
}
.home{
    margin-right: 8px;
}

.About{
    margin-right: 8px;
}

.Contact{
    margin-right: 8px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.deatel{
    margin-left: 8%;
    margin-top: 10%;
    position: absolute;
    z-index: 9999;
}
.deatel h2{
    font-size: 30px;
    color: #008AAA;
    margin-bottom: 15px;
}
span{
    color: #D1884F;
}
p{
    font-size: 30px;
    color: #3BBADB;
    margin-bottom: 15px;
}
.deatel button{
    background-color: #008AAA;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin: 20px 0px;
    border-radius: 25px;
    border: none;
    width: 50%;
}

.deatel button:hover{
    background-color: #D1884F;
}

.photo{
    margin: 0 auto;
    width: 60%;
    height: 90%;
    position: absolute;
    padding-bottom: 122px ;
    bottom: 0;
    right: 100px;
    
    
    
}
.photo img{
    height: 100%;
    width: auto;
    padding-left: 500px;
    padding-top: 130px;
    
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #e2e3e3;
    text-align: center;
}
footer p{
    color: #000000aa;
    margin: 0;
    
}
footer ul {
    list-style: none;
  padding: 0;
}
footer ul li {
    display: inline-block;
    margin: 0 12px;
    margin-top: 8px;
  }    
  footer ul li a{
    color: #000000aa;
    color: bold;
    text-decoration: none;
  }
  footer ul li a:hover{
    color: #3BBADB;
  }


/* CSS for desktops and tablets */
@media (min-width: 767px )   {
    
    p {
      font-size: 18px;
    }
    .deatel h2{
        font-size: 20px;
      }
    
     
    .photo img{
        height: 100%;
        width: 70%;
        padding-left:400px;
        padding-top: 20%;
    }
  }
  
  /* CSS for phones */
  @media (max-width: 767px) {
    p {
      font-size: 14px;
    }
    
      
     .photo img{
        height: 97%;
        width: 100%;
        padding-left: 150px;
        padding-top: 50%;
    }
    .deatel h2{
        font-size: 22px;
    }
    .deatel{
        margin-top: 0;
    }
   
    .logo{
        width: 20%;
        height: 50%;
        margin-bottom: 210px;
        margin-top: -14px;
        margin-left: -60px;
        padding-right: 500px;
   
        
    }
    nav ul{
        width: 100%;
        display: flex;
        padding-right: 506px;
        padding-bottom: 190px;
        font-size: 15px;
       
    }
    nav ul li{
        display: inline-block;
        padding: 20px 30px;
    }
    ul li i{
        display: none;
    }
    
   
    #home{
        display: none;
    }
   
  
 
}

